footer {
  color: white !important;
  background-color: rgba(0, 51, 102, 1) !important;
}

i {
  margin-right: 1.5rem !important;
  color: deepskyblue;
}

#copyright {
  i {
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    padding: 10px 12px;
  }
  i:hover {
    font-size: 1.2rem;
    border: none;
    background: deepskyblue;
  }
}

.text-primary {
  color: deepskyblue !important;
}
