<ul class="bg-blue-transparent px-5 py-2 nav justify-content-end">
  <li class="nav-item mr-5"><i class="fa fa-phone mr-2" aria-hidden="true"></i>
    +1-(xxx)xxx-xxx
  </li>

  <li class="nav-item mr-5"><i class="fa fa-envelope mr-2" aria-hidden="true"></i>
    info@tracker.com
  </li>
  <li class="nav-item mr-5"><i class="fa fa-clock-o mr-2" aria-hidden="true"></i>
    Mondays - Saturdays : 9:00 - 21:00 hours
  </li>
</ul>

<div class="container-lg border-bottom p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent p-0" id="header-nav">
    <a class=" navbar-brand" href="#"><img class="w-75" src="assets/tracker-logo.png"></a>

    <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-light my-3">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item  mx-2 mx-md-0 active">
          <a class="nav-link  py-md-5 px-md-4" routerLink="/Home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-2 mx-md-0 ">
          <a class="nav-link  py-md-5 px-md-4" routerLink="/Tracking">Track And Trace</a>
        </li>
        <li class="nav-item mx-2 mx-md-0 ">
          <a class="nav-link  py-md-5 px-md-4 " routerLink="/Services">Services</a>
        </li>
        <li class="nav-item mx-2 mx-md-0 ">
          <a class="nav-link  py-md-5 px-md-4 " routerLink="/About">About Us</a>
        </li>
        <li class="nav-item mx-2 mx-md-0 ">
          <a class="nav-link  py-md-5 px-md-4 " routerLink="/Contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
