footer {
  color: white !important;
  background-color: #003366 !important;
}

i {
  margin-right: 1.5rem !important;
  color: deepskyblue;
}

#copyright i {
  border: 1px solid white;
  border-radius: 100%;
  color: white;
  padding: 10px 12px;
}

#copyright i:hover {
  font-size: 1.2rem;
  border: none;
  background: deepskyblue;
}

.text-primary {
  color: deepskyblue !important;
}
