@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@300;400;500&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

hr {
  width: 15%;
  margin: 0 0 3rem 0 !important;
  text-align: left !important;
  padding: 1px !important;
  background-color: deepskyblue !important;
}
