<div id="tracker-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item slide_one active">
      <app-top-nav></app-top-nav>
      <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 bg-blue-transparent p-5 my-5">

            <hr>

            <h1>TRANS-ATLANTIC</h1>
            <h1>DELIVERY</h1>

            <p class="my-5">Assuring the compliant handling of temperature sensitive healthcare products in today's
              complex
              supply chain
              is
              one of the foremost challenges we are facing </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item slide_two ">
      <app-top-nav></app-top-nav>

      <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 bg-blue-transparent p-5 my-5">

            <hr>

            <h1>TRANS-ATLANTIC</h1>
            <h1>DELIVERY</h1>

            <p class="my-5">Assuring the compliant handling of temperature sensitive healthcare products in today's
              complex
              supply chain
              is
              one of the foremost challenges we are facing </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item slide_three ">
      <app-top-nav></app-top-nav>
      <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 bg-blue-transparent p-5 my-5">

            <hr>

            <h1>TRANS-ATLANTIC</h1>
            <h1>DELIVERY</h1>

            <p class="my-5">Assuring the compliant handling of temperature sensitive healthcare products in today's
              complex
              supply chain
              is
              one of the foremost challenges we are facing </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item slide_four ">
      <app-top-nav></app-top-nav>
      <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 bg-blue-transparent p-5 my-5">

            <hr>

            <h1>TRANS-ATLANTIC</h1>
            <h1>DELIVERY</h1>

            <p class="my-5">Assuring the compliant handling of temperature sensitive healthcare products in today's
              complex
              supply chain
              is
              one of the foremost challenges we are facing </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- mid nav area-->
<div class="text-center mid-nav">
  <div class="row no-gutters">
    <div class="col-md-3 p-4" data-target="#tracker-carousel" data-slide-to="0">
      <h5> Sea Freight</h5>
    </div>
    <div class="col-md-3 p-4" data-target="#tracker-carousel" data-slide-to="1">
      <h5> Air Freight</h5>
    </div>
    <div class="col-md-3 p-4" data-target="#tracker-carousel" data-slide-to="2">
      <h5> Road Freight</h5>
    </div>
    <div class="col-md-3 p-4" data-target="#tracker-carousel" data-slide-to="3">
      <h5> Ware Housing</h5>
    </div>
  </div>
</div>

<!-- exec div-->
<div class="container p-5">
  <div class="row">
    <div class="col-md-6">
      <hr>

      <h1 class="mb-5">WELCOME</h1>
      <p class="mb-4">TracknTrace Cargo makes business flow. As one of the world’s leading non-asset-based supply chain
        management companies, we design and implement industry-leading solutions in both freight management.</p>
      <p class="mb-4">Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver
        operational
        excellence — to provide viable answers to the most challenging supply chain questions.</p>
      <div class="row">
        <div class="col-6">
          <p class="mb-4 font-weight-bold">PAUL HELMINGER</p>
          <p>Chairman of the Board of TracknTrace Cargo</p>
        </div>
        <div class="col-6">
          <img src="assets/autograph-1.png" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img class="img-fluid" src="assets/board-members.jpg">
    </div>
  </div>
</div>

<!-- bragging -->
<div class="bg-sky-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div>
          <i class="fa fa-bookmark-o fa-4x" aria-hidden="true"></i>
        </div>
        <div>
          <h2>320</h2>
          <p>Projects Done</p>
        </div>
      </div>

      <div class="col-md-3">
        <div>
          <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
        </div>
        <div>
          <h2>72</h2>
          <p>Clients Worldwide</p>
        </div>

      </div>
      <div class="col-md-3">
        <div>
          <i class="fa fa-users fa-4x" aria-hidden="true"></i>
        </div>
        <div>
          <h2>120</h2>
          <p>People in Teams</p>
        </div>

      </div>
      <div class="col-md-3">
        <div>
          <i class="fa fa-truck fa-4x" aria-hidden="true"></i>
        </div>
        <div>
          <h2>150</h2>
          <p>Owned Vehicles</p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- hard carousel -->
<div class="container-fluid card_slider p-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card transparent shadow">
        <div class="card-body">
          <hr class="mb-5">
          <h2 class="card-title">SPECIAL SERVICES</h2>
          <p class="card-text my-3">Globally known for our ability to handle every last detail of our customers’
            particular logistics and forwarding needs,
            TracknTrace Cargo’s Special Services team takes care of all your logistics.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

</div>
