<div id="tracker-carousel" class="carousel slide carousel-fade" data-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item slide_one active">
      <app-top-nav></app-top-nav>
      <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 bg-blue-transparent p-5 my-5">

            <hr class="bg-primary mb-5">

            <h1>TRANS-ATLANTIC</h1>
            <h1>DELIVERY</h1>

            <p class="my-5">Assuring the compliant handling of temperature sensitive healthcare products in today's
              complex
              supply chain
              is
              one of the foremost challenges we are facing </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item slide_two ">
      <app-top-nav></app-top-nav>

      <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 bg-blue-transparent p-5 my-5">

            <hr class="bg-primary mb-5">

            <h1>TRANS-ATLANTIC</h1>
            <h1>DELIVERY</h1>

            <p class="my-5">Assuring the compliant handling of temperature sensitive healthcare products in today's
              complex
              supply chain
              is
              one of the foremost challenges we are facing </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item slide_three ">
      <app-top-nav></app-top-nav>
      <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 bg-blue-transparent p-5 my-5">

            <hr class="bg-primary mb-5">

            <h1>TRANS-ATLANTIC</h1>
            <h1>DELIVERY</h1>

            <p class="my-5">Assuring the compliant handling of temperature sensitive healthcare products in today's
              complex
              supply chain
              is
              one of the foremost challenges we are facing </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item slide_four ">
      <app-top-nav></app-top-nav>
      <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 bg-blue-transparent p-5 my-5">

            <hr class="bg-primary mb-5">

            <h1>TRANS-ATLANTIC</h1>
            <h1>DELIVERY</h1>

            <p class="my-5">Assuring the compliant handling of temperature sensitive healthcare products in today's
              complex
              supply chain
              is
              one of the foremost challenges we are facing </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="bg-secondary text-center mid-nav">
  <div class="row">
    <div class="col-md-3 p-4" data-target="#tracker-carousel" data-slide-to="0">
      <h5> Sea Freight</h5>
    </div>
    <div class="col-md-3 p-4" data-target="#tracker-carousel" data-slide-to="1">
      <h5> Air Freight</h5>
    </div>
    <div class="col-md-3 p-4" data-target="#tracker-carousel" data-slide-to="2">
      <h5> Road Freight</h5>
    </div>
    <div class="col-md-3 p-4" data-target="#tracker-carousel" data-slide-to="3">
      <h5> Ware Housing</h5>
    </div>
  </div>
</div>
