.slide_one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("src/assets/sea_freight.jpg");
  background-position: center;
  background-size: cover;
}

.slide_two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("src/assets/plane2.jpg");
  background-position: center;
  background-size: cover;
}

.slide_three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("src/assets/truck.jpg");
  background-position: center;
  background-size: cover;
}

.slide_four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("src/assets/warehouse.jpg");
  background-position: center;
  background-size: cover;
}
.bg-blue-transparent {
  background-color: rgba(0, 51, 102, 0.5);
  color: white;
}

.bg-sky-blue {
  padding: 1.5rem;
  background-color: deepskyblue;
  .col-md-3 {
    display: flex;
    padding: 1.5rem !important;
  }
  i {
    margin-right: 1.5rem;
    color: white;
  }
  h2,
  p {
    color: lightgray;
  }
}

.mid-nav {
  color: white !important;
  background-color: rgba(0, 51, 102, 1) !important;

  .col-md-3:hover {
    border-top: 2px solid white;
    cursor: pointer;
  }
}

hr {
  width: 15%;
  margin: 0 0 3rem 0 !important;
  text-align: left !important;
  padding: 1px !important;
  background-color: deepskyblue !important;
}

.card_slider {
  background-color: rgba(0, 51, 102, 1) !important;
  color: lightgray;
  .col-md-9 .card {
    color:black;
    border:none !important;
    margin-bottom: 1.5rem;
    .card-body{
      padding: 2rem !important;
    }
    .card-title {
      font-weight: bold;
    }
    a {
      color:deepskyblue;
    }
    i {
      margin-left: 0.5rem !important;
    }
  }
}

.transparent {
  background: transparent !important;
}

.mountain-bg {
color:white;
background-image: url("src/assets/mountain.jpg");
background-position: center;
background-size: cover;
}

.faq .card {
  color:black;
  margin-bottom: 1.5rem;
  .card-body{
    padding: 2rem !important;
  }
  .card-title:hover{
    color:deepskyblue;
  }
  .card-text {
    margin: 1.5rem 0;
    color:gray;
  }
  a {
    color:deepskyblue;
  }
  i {
    margin-left: 0.5rem !important;
  }
  .badge{
    position: absolute;
    right:-20px;
    top:10px;
    background:red;
    text-align: center;
    color:white;
    padding:5px 10px;
    font-size:20px;
}
}
